dd {
    margin-left: 0px;
    margin-bottom: .5rem;
}

html {
    padding: 30px;
}

#rcorners {
    border-radius: 15px;
    background: #73AD21;
    padding: 20px; 
    // width: 300px;
    // height: 150px; 
}

#rcorners1 {
    border-radius: 15px;
    background: #9fad21;
    padding: 20px; 
    // width: 300px;
    // height: 150px; 
}