<p [appHighlight]="color">Highlight me!</p>

<p>Kính chào quý khách </p>
    Farmers Market xin thông báo nhận đơn hàng nội quận 3, quận 7, quận Phú nhuận và quận Bình
    Thạnh (Phường 12).
    <br/>
    Đơn hàng sẽ được giao sau 3 ngày kể từ khi xác nhận đơn.
    <br/>
    Mua hàng qua Mobile App: GrabMarts, Shopee
    <br/>
    <dl>
        Hotline Giải quyết sự cố đơn hàng: 
                <dt>Hotline 1:</dt> 
                <dd>1900 63 69 50 </dd>
                <dt>Hotline 2:</dt>
                <dd> 1800 6930 <b>|</b> 0917 85 32 32</dd>
                <dt>Zalo:</dt> 
        <dd>0982 972 428</dd>
    </dl>

