<html>
    <div style="border: 1px solid; padding: 10px; box-shadow: 5px 10px mediumaquamarine; width: 700px; line-height: 150%;"
    class="table-responsive">
        <p [appHighlight]="color">Have a nice day!</p>

        <h3>Kính chào quý khách !</h3>
        <p>Farmers Market xin thông báo nhận đơn hàng <b>nội quận 3, quận 7, quận Phú nhuận và quận Bình
            Thạnh (Phường 12)</b>.</p>
        <p>Đơn hàng sẽ được giao sau <i>3 ngày</i> kể từ khi xác nhận đơn.</p>
        <p><b>Mua hàng qua Mobile App: </b> 
            <a href="https://www.grab.com/vn/mart/">GrabMart</a>,  
            <a href="https://shopeefood.vn">Shopee Food (Now)</a> </p>
        <dl>
            <p>HOTLINE GIẢI QUYẾT SỰ CỐ ĐƠN HÀNG: </p>
                <div id="rcorners">
                    <dt>Hotline 1:</dt> 
                    <dd>1900 63 69 50 </dd>
                    <dt>Hotline 2:</dt>
                    <dd> 1800 6930 <b>|</b> 0917 85 32 32</dd>
                </div>
                <div id="rcorners1">
                    <dt>Zalo:</dt> 
                    <dd>0982 972 428</dd>
                </div>  
        </dl>
        <p>Xin tran trong cam on!</p>
    </div>
</html>


