<h2>Berries's</h2>
<div style="border: 0.5px solid; padding: 10px; box-shadow: 5px 10px mediumaquamarine; width: 600px;">
    <table id = "table">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discounted</th>
        </tr>
        <tr *ngFor = "let fruit of fruitsArray; let i = index"
            style="text-align: center;">
            <td>{{ i + 1 }}</td>
            <td>{{ fruit.name }}</td>
            <td style="text-align: right;">
                <span [ngClass] = "{ 'negative' : fruit.price < 0 } ">{{ fruit.price }}</span>
            </td>
            <td>
                <span *ngIf = "fruit.discount"> discounted!</span>
            </td> 
        </tr>
    </table>
</div>

