<div style="padding: 30px;">  
    <h2>Berries's</h2>
    <div style="border: 1px solid; padding: 10px; box-shadow: 5px 10px mediumaquamarine; width: 660px;"
        class="table-responsive">
        <table id = "table" style="text-align: center;">
            <thead>
            <tr >
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price for each</th>
                    <th scope="col">Discounted</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Sum</th>
                </tr>
            </thead>
            <tr *ngFor = "let fruit of fruitsArray; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ fruit.name | lowercase }}</td>
                <td style="text-align: right;">
                    <span [ngClass] = "{ 'negative' : fruit.price < 0 } ">
                        {{ fruit.price |  currency:'EUR':'symbol':'1.2-2' }}
                    </span>
                </td>
                <td>
                    <span> {{ fruit.discount | onSale | uppercase }}</span>
                </td> 
                <td>
                    {{ fruit.amount }}
                </td>
                <td>
                    {{ fruit.sum |  currency:'EUR':'symbol':'1.2-2' }}
                </td>
            </tr>
        </table>
    </div>

    <br>

    <label for="types">Choose a type: </label>
    <select name="types" 
            id="types" 
            (change)="chooseType($event)">
        <option *ngFor="let fruitType of fruitTypes" value="{{ fruitType.name }}">
            {{ fruitType.name }}
        </option>
    </select>
    <br>

    <label for="fruit">Choose a fruit: </label>
    <select name="fruit" id="fruit">
        <option *ngFor="let fruit of fruits" value="{{ fruit }}">
            {{ fruit }}
        </option>
    </select>

    <br>
        <input type="number" [(ngModel)]="id" placeholder="Product ID">
        <p-button label="Get Product" (click)="getProduct()"></p-button>
        <button pButton type="button" label="Get all Products" (click)="getAllProducts()"></button>

        <div *ngIf="product">
            Product is called {{product.name}}. It costs {{product.price}} and
            is only available with {{product.amount}} Piece(s). 
        </div>
        
        <div *ngIf="products">
            <hr>
            <ul>
              <li *ngFor="let product of products;">
                {{product.name}} is {{product.price}} and has {{product.discount}}.
            </li>
            </ul>
        </div>
</div>  

